*.avi
*.aux
*.bbl
*.blg
*.csv
*.cpython-38.pyc
*.drawio
*.eps
*.fig
*.gif
*.html
*.inp
*.ipynb_checkpoints
*.jpeg
*.jpg
*.json
*.log
*.mat
*.mexa64
*.mp4
*.mtx
*.mypy_cache/
*.npz
*.out
*.pdf
*.pickle
*.pkl
*.pyc
*.so
*.swn
*.swo
*.swp
*.toc


.DS_Store
.fealpy.egg-info
.idea
.ipynb_checkpoints
.jekyll-cache
.vscode
.VSCodeCounter

__pycache__
soptx.egg-info
build
codetest/*
code/*.mat
data
dependcies
dist
doc/project
docs/.jekyll-cache
docs/.jekyll-metadata
docs/.sass-cache
docs/_site
docs/vendor
fealpy.egg-info
fealpyapp
log.txt
matlab
meviewer
meshdata
meshfigure
paper/*.pdf
refineresults
result*
results
results1
tags